.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.column-list .cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 24px;
}

.column-list .cards > ul > li {
  display: flex;
  flex-direction: row;
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.column-list .cards .cards-card-body {
  margin: 16px;
  flex: 1;
}

.column-list .cards .cards-card-image {
  width: 50%;
  line-height: 0;
}

.column-list .cards > ul > li img {
  width: 50%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}